<%= provide(:title, "Parceiros") %>  
  <div class="row">
    <div class="span8">
      <%= render 'form' %>
    </div>
    <div class="span4">
      <div class="form-actions">
        <a href="<%= admin_partners_path %>" class="btn btn-small" rel="tooltip" title="Lista"><i class="icon-list"></i></a>
      </div>
    </div>
  </div>
