.box-parceiro-small {
  background-color: #1e5687;
  color: #ffffff;
  margin-top: 10px;
  img {
    width:  100px;
    height: 100px;
    float:  left; 
    margin: 5px;
  }
  h4 {
    font-size: 1.2em;
  }
  p {
    font-size: 1.0em;
    margin: 0px !important;
  }
}
