<%= provide(:title, "Home") %>
<div class="row">
  <div class="span12" id="content">
    <div class="page-header">
      <h1 class="center">Olá, <%= current_user.name %></h1>
    </div>
  </div>
</div>
