<!DOCTYPE html>
<html>
<head>
  <title>Igabi</title>
  <%= stylesheet_link_tag    "/assets/#{controller.controller_name}", :media => "all" %>
  <%= javascript_include_tag "/assets/#{controller.controller_name}.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
